**Data Retrival**

In [21]:
import pandas as pd

In [22]:
dataFrame = pd.read_csv("/content/student_records.csv")

In [23]:
dataFrame.head()

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0   Henry            A        Y             90            85       Yes
1    John            C        N             85            51       Yes
2   David            F        N             10            17        No
3  Holmes            B        Y             75            71        No
4  Marvin            E        N             20            30        No

***Data  Preparation***

Feature extraction and engineering

In [24]:
#features and their outcomes
feature_names = ['OverallGrade', 'Obedient','ResearchScore','ProjectScore']
training_features = dataFrame[feature_names]

outcome_name = ['Recommend']
outcome_labels = dataFrame[outcome_name]

In [25]:
#view the features
training_features

  OverallGrade Obedient  ResearchScore  ProjectScore
0            A        Y             90            85
1            C        N             85            51
2            F        N             10            17
3            B        Y             75            71
4            E        N             20            30
5            A        Y             92            79
6            B        Y             60            59
7            C        Y             75            33

In [26]:
#outcome labes
outcome_labels

  Recommend
0       Yes
1       Yes
2        No
3        No
4        No
5       Yes
6        No
7        No

In [27]:
#list down values based on type
numeric_feature_names = ['ResearchScore','ProjectScore']
categorical_feature_names = ['OverallGrade','Obedient']

Numeric scalling

In [28]:
from sklearn.preprocessing import StandardScaler
standardscaler = StandardScaler()

#fit scaler on numeric features
standardscaler.fit(training_features[numeric_feature_names])

#scaler feature names 
training_features[numeric_feature_names] = standardscaler.transform(training_features[numeric_feature_names])
training_features

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

  OverallGrade Obedient  ResearchScore  ProjectScore
0            A        Y       0.899583      1.376650
1            C        N       0.730648     -0.091777
2            F        N      -1.803390     -1.560203
3            B        Y       0.392776      0.772004
4            E        N      -1.465519     -0.998746
5            A        Y       0.967158      1.117516
6            B        Y      -0.114032      0.253735
7            C        Y       0.392776     -0.869179

Engenering categorical values

In [29]:
training_features = pd.get_dummies(training_features, columns=categorical_feature_names)
#view new generated values
training_features

,ResearchScore,ProjectScore,OverallGrade_A,OverallGrade_B,OverallGrade_C,OverallGrade_E,OverallGrade_F,Obedient_N,Obedient_Y
0,0.899583,1.376650,1,0,0,0,0,0,1
1,0.730648,-0.091777,0,0,1,0,0,1,0
2,-1.803390,-1.560203,0,0,0,0,1,1,0
3,0.392776,0.772004,0,1,0,0,0,0,1
4,-1.465519,-0.998746,0,0,0,1,0,1,0
5,0.967158,1.117516,1,0,0,0,0,0,1
6,-0.114032,0.253735,0,1,0,0,0,0,1
7,0.392776,-0.869179,0,0,1,0,0,0,1

In [31]:
#get list of new categorical features
categorical_engineered_features = list(set(training_features.columns) - set(numeric_feature_names))
categorical_engineered_features

['Obedient_N',
 'OverallGrade_E',
 'OverallGrade_F',
 'OverallGrade_C',
 'OverallGrade_A',
 'OverallGrade_B',
 'Obedient_Y']

**Modelling**

In [33]:
from sklearn.linear_model import LogisticRegression
import numpy as np

lr = LogisticRegression()
#fit model
model = lr.fit(training_features,np.array(outcome_labels['Recommend']))

#view paratemers
model

LogisticRegression()

**Model evaluation**